// SCSS VARIABLES
$dark-grey: #1f1f1f;
$box-shadow: 2px 2px 4px $dark-grey;
$text-background: #f0fbdb;
$border-default: 1px solid black;

// SCSS FUNCTIONS
@function calculateRem($size, $base: 16px) {
  $remSize: ($size / $base);
  @return #{$remSize}rem;
}

// SCSS MIXINS
@mixin text-shadow($x: 1px, $y: 1px, $blur: 2px, $color: black) {
  text-shadow: $x $y $blur $color;
}

/***GENERAL STYLING***/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Goldman", cursive;
  font-weight: 700;
  background-color: lightyellow;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

a {
  color: #3399ff;
  font-weight: 600;
  text-decoration: none;
  &:hover,
  &:focus {
    color: #b45922;
  }
}

.text-center {
  text-align: center;
}

.no-select {
  /* make text labels non-selectable */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#drum-machine {
  background: linear-gradient(to right, #5d5d5d, #292929);
  height: 475px;
  width: 750px;
  border: $border-default;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: $box-shadow;
}

.top-bar {
  box-shadow: 0 2px 5px $dark-grey;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: calculateRem(26px);
  font-family: "Goldman", cursive;
  padding: 5px 10px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  z-index: 10;
  @include text-shadow($x: 2px, $y: 2px);
}

.thin {
  font-weight: 400;
}

.model {
  @extend .thin;
  font-size: calculateRem(18px);
  font-style: italic;
}

.bottom-bar {
  color: white;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  height: 30px;
  padding: 4px;
  font-size: calculateRem(13px);
}

.logo {
  border-radius: 2px;
}

.main-box {
  display: flex;
}

.left-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: auto;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

button {
  display: inline-block;
  border: none;
  padding: 5px;
  margin: 0;
  text-decoration: none;
  box-shadow: $box-shadow;
  background: #0069ed;
  color: #ffffff;
  font-family: inherit;
  font-size: calculateRem(15px);
  @include text-shadow();
  line-height: 1;
  cursor: pointer;
  text-align: center;
  &:hover,
  &:focus {
    outline-style: none;
  }
  &:active {
    transform: scale(0.95);
  }
}

.bank-btn {
  border-radius: 5px;
  height: 30px;
  width: 100px;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.bank-btn:hover {
  background: #0053ba;
}

.otherbtn-container {
  height: 150px;
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.power-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.powbtn-on {
  font-size: calculateRem(14px);
  --circle: 75px;
  height: var(--circle);
  width: var(--circle);
  border-radius: 100%;
  background: rgb(71, 220, 1);
  background: radial-gradient(
    circle,
    rgba(71, 220, 1, 1) 25%,
    rgba(116, 234, 39, 1) 55%,
    rgba(187, 255, 98, 1) 100%
  );
  &:hover {
    transform: scale(1.02);
  }
  &:active {
    transform: scale(0.95);
    -webkit-tap-highlight-color: transparent;
  }
}

.powbtn-off {
  @extend .powbtn-on;
  background: rgb(220, 1, 1);
  background: radial-gradient(
    circle,
    rgba(220, 1, 1, 1) 25%,
    rgba(234, 68, 39, 1) 55%,
    rgba(255, 132, 98, 1) 100%
  );
}

.volume-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  // background-color: lightyellow;
}

#vol-up {
  margin-bottom: 15px;
}

#display {
  background-color: lightgrey;
  font-family: "Press Start 2P", serif;
  line-height: 1;
  font-size: calculateRem(12.5px);
  padding: 8px;
  margin: 10px auto;
  width: 345px;
  height: 99px;
  border: 10px solid black;
  border-radius: 2px;
  box-shadow: 0 0 0 1pt white;
  overflow: hidden;
  white-space: nowrap; /* prevents pushing other text off display */
  p {
    padding: 4px;
    @include text-shadow($blur: 1px, $color: grey);
  }
}

/*** RIGHT PANEL STYLING ***/
.right-panel {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  flex: 1 1 285px;
  height: 350px;
  margin-right: 5px;
}

.drum-pad {
  border-radius: 7px;
  box-shadow: $box-shadow;
  color: white;
  cursor: pointer;
  font-family: "Goldman", cursive;
  font-size: calculateRem(30px);
  @include text-shadow();
  --padsize: 100px;
  height: var(--padsize);
  width: var(--padsize);
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    transform: scale(1.02);
  }
}

@-webkit-keyframes padClick {
  100% {
    border: 4px solid orange;
    transform: scale(0.95);
  }
}

@keyframes padClick {
  100% {
    border: 4px solid orange;
    transform: scale(0.95);
  }
}

.pad-anim {
  -webkit-animation: padClick 0.3s linear;
  animation: padClick 0.3s linear;
}

.padQ {
  background: rgba(255, 0, 0, 1);
  background: radial-gradient(
    circle,
    rgba(255, 128, 0, 1) 25%,
    rgba(255, 0, 0, 1) 100%
  );
}
.padW {
  background: rgba(255, 128, 0, 1);
  background: radial-gradient(
    circle,
    rgba(255, 255, 0, 1) 25%,
    rgba(255, 128, 0, 1) 100%
  );
}
.padE {
  background: rgb(255, 255, 0);
  background: radial-gradient(
    circle,
    rgba(128, 255, 0, 1) 25%,
    rgba(255, 255, 0, 1) 100%
  );
}
.padA {
  background: rgba(128, 255, 0, 1);
  background: radial-gradient(
    circle,
    rgba(0, 255, 128, 1) 25%,
    rgba(128, 255, 0, 1) 100%
  );
}
.padS {
  background: rgba(0, 255, 128, 1);
  background: radial-gradient(
    circle,
    rgba(0, 255, 128, 1) 25%,
    rgba(0, 255, 255, 1) 100%
  );
}
.padD {
  background: rgba(0, 255, 128, 1);
  background: radial-gradient(
    circle,
    rgba(0, 128, 255, 1) 0%,
    rgba(0, 255, 128, 1) 100%
  );
}
.padZ {
  background: rgba(0, 128, 255, 1);
  background: radial-gradient(
    circle,
    rgba(128, 0, 255, 1) 25%,
    rgba(0, 128, 255, 1) 100%
  );
}
.padX {
  background: #8000ff;
  background: radial-gradient(#8000ff, #ff00ff);
  background: rgba(128, 0, 255, 1);
  background: radial-gradient(
    circle,
    rgba(255, 0, 255, 1) 0%,
    rgba(128, 0, 255, 1) 100%
  );
}
.padC {
  background: rgba(255, 0, 255, 1);
  background: radial-gradient(
    circle,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 0, 255, 1) 100%
  );
}

/*** MEDIA BREAKS ***/
@media (max-width: 749px) {
  $basefont: 14px; // new base font-size for calculating rems

  html {
    font-size: calculateRem($basefont);
  }

  #drum-machine {
    width: 345px;
    height: 580px;
  }

  .top-bar {
    font-size: calculateRem(24px);
    line-height: 1;
    padding: 3px 10px;
  }

  .model {
    font-size: calculateRem(16px);
  }

  #display {
    height: 90px;
    width: 300px;
  }

  .main-box {
    flex-direction: column;
  }

  .btn-container {
    justify-content: space-around;
    padding: 0;
    margin-top: 2px;
  }

  .bank-btn {
    height: 25px;
    width: 75px;
  }

  .otherbtn-container {
    justify-content: space-around;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #vol-up {
    margin-bottom: 10px;
  }

  .powbtn-on {
    --circle: 60px;
  }

  .right-panel {
    margin: 0 35px 5px;
    row-gap: 10px;
    flex-basis: 0;
    height: auto;
  }

  .drum-pad {
    --padsize: 80px;
  }
}
